<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="bean" class="org.practice.spring.ioc_xml.BeanLife" init-method="initMethod" destroy-method="destroyMethod">
        <property name="bid" value="1"></property>
        <property name="bname" value="test"></property>
    </bean>

    <bean id="beanProcess" class="org.practice.spring.ioc_xml.BeanProcess">

    </bean>

</beans>